page-forgot-password {
  #image-container {
		display: flex;
    justify-content: center;
		margin-top: 20%;
		
		img {
			height: 150px;
		}
  }

  ion-input {
		background-color: #f1eff0;
		border-radius: 20px;
		height: 35px;
		
		.text-input-md {
			margin: 7px 55px;
			font-size: 18px;
		}
  }

  .icon-key {
		position: relative;
    top: -50px;
    left: 20px;
    font-size: 1.7em;
  }

  #button-container {
		display: flex;
		justify-content: center;

		.button-md {
			color: #000;
		}
	}


}
