page-ticket {
  .searchbar-md .searchbar-input {
    background-color: #f1eff0;
    border-radius: 25px;
  }

  .custom-popover {
    width: 60%;
  }

  .label-md {
    margin: 0;
  }

  .abu {
    color: #888;
  }

  .input-md {
    color: #fff;
  }

  .text-input::-moz-placeholder {
    color:wheat;
  }

  .text-input:-ms-input-placeholder {
    color: wheat;
  }

  .text-input::-webkit-input-placeholder {
    color: wheat;
  }
    // #utfams-image {
    //   max-width: 40%;
    //   margin-top: 15px;
    //   margin-left: 15px;
    // }

    // #ut-logo {
    //   max-width: 40%;
    //   position: relative;
    //   right: -36px;
    // }

    // ion-segment {
    //   border: 1px solid #888;
    //   max-width: 65%;
    // }

    // .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    //   border-color: transparent;
    //   opacity: 1;
    //   background-color: #3EC5DD;
    // }

    // .segment-md .segment-button {
    //   text-transform: unset;
    //   font-size: 14px;
    //   font-weight: normal;
    // }
    
    //   .grid {
    //     padding: 0;
    //   }
    
    //   .col {
    //     padding: 0;
    //   }
      
    //   .btn-submit{
    //     background-color:#FEFF98;
    //   }

    //   .btn-finish{
    //     background-color: green;
    //   }

    //   .button-md {
    //     // background-color: #FEFF98;
    //     width: 75px; 
    //     display: flex;
    //     align-self: center;
    
    //     span {
    //       color: #222;
    //     }
    //   }
    
    //   #button-container {
    //     margin-top: 15px;
    //     display: flex;
    //     justify-content: center;
    
    //     .button-md {
    //       width: 50%;
    //     }
    //   }

    //   #pending {
    //     .button-inner {
    //       color: #eee;
    //     }
    //   }

    //   .button-inner {
    //     font-weight: normal;
    //   }
    
    //   .item-md.item-block .item-inner {
    //     border-bottom: none;
    //   }
      
    //   .item-md {
    //     border: 1px solid #eee;
    //   }
    
    //   #action {
    //     background-color: #FEFF98;
    //     width: 70%; 
    //   }

    //   #list-container {
    //     border: 1px solid #eee;
    //     padding: 10px;
    //   }
    
    //   ion-input {
    //     border: 1px solid #eee;
    //     border-radius: 4px;
    //     height: 75%;

    //     .text-input-md {
    //       margin: 7px 8px;
    //     }
    //   }

    //   ion-datetime{
    //     border: 1px solid #eee;
    //     border-radius: 7px;
    //     height: 60%;
    //     width: 65%;
    //   }

    //   ion-textarea{
    //     border: 1px solid #eee;
    //     border-radius: 7px;
    //     height: 80%;
    //   }
  ion-badge {
    font-weight: bold;
    font-size: 1.1rem;
  }
}
